In [1]:
import pandas as pd
import numpy as np

In [5]:
user_df = pd.read_excel("/home/sk2159/Downloads/Daily panel activity March.xlsx")
user_df

,eye_sn,email,install_id,eye_sn_install,date_column,month,adblock_not_detected_activity,gaze_valid_activity,eyetracker_connected_activity,eyetracker_detected_activity,...,beacon_detected_activity,beacon_in_view_activity,beacon_attention_hit_activity,Norstat UK,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,IS404-100108033733,christian.pehrsson@gmail.com,70191b3b-7b5b-446f-850e-2953cd023ae1,IS404-10010803373370191b3b-7b5b-446f-850e-2953...,2023-03-28,2023-03-01T00:00:00.000+01:00,51,49,51,51,...,2,10,0,False,NaN,NaN,NaN,NaN,NaN,NaN
1,IS404-100107544503,irja.maria.nilsson@gmail.com,728b7565-6ec7-481f-8ea5-7b73a327d982,IS404-100107544503728b7565-6ec7-481f-8ea5-7b73...,2023-03-03,2023-03-01T00:00:00.000+01:00,389,0,0,0,...,210,5,0,False,NaN,NaN,NaN,NaN,NaN,NaN
2,IS5FF-100201916732,pererik.erlandsson@gmail.com,9d99e71c-2c86-4df5-ae4b-f994d72de3ed,IS5FF-1002019167329d99e71c-2c86-4df5-ae4b-f994...,2023-03-27,2023-03-01T00:00:00.000+01:00,366,234,366,366,...,26,121,13,False,NaN,NaN,NaN,NaN,NaN,NaN
3,IS404-100109801943,engyousef.se@gmail.com,afd25681-80fe-4ea7-8a34-1345b59bbdaf,IS404-100109801943afd25681-80fe-4ea7-8a34-1345...,2023-03-08,2023-03-01T00:00:00.000+01:00,870,788,870,870,...,84,159,11,False,NaN,NaN,NaN,NaN,NaN,NaN
4,IS5FF-100201721322,9KX8KOff5mrYXXVpyfq1Vx19XREX5J5b,deb61471-5e91-446a-af42-b7b21d0b0629,IS5FF-100201721322deb61471-5e91-446a-af42-b7b2...,2023-03-06,2023-03-01T00:00:00.000+01:00,1539,1487,1539,1539,...,159,425,73,True,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35528,?,NaN,813de26d-b90d-43fd-926a-a0d899ee3643,?813de26d-b90d-43fd-926a-a0d899ee3643,2023-03-21,2023-03-01T00:00:00.000+01:00,2773,0,0,0,...,364,829,0,False,NaN,NaN,NaN,NaN,NaN,NaN
35529,IS404-100108346381,william.marback@hotmail.com,1c81eaf5-e79d-4169-bd4f-3706bc01b8ad,IS404-1001083463811c81eaf5-e79d-4169-bd4f-3706...,2023-03-13,2023-03-01T00:00:00.000+01:00,265,226,265,265,...,39,20,9,False,NaN,NaN,NaN,NaN,NaN,NaN
35530,IS404-100109435211,sopha_ki@hotmaill.com,2fece4d8-ec39-4d79-a744-6ddabaf176e0,IS404-1001094352112fece4d8-ec39-4d79-a744-6dda...,2023-03-08,2023-03-01T00:00:00.000+01:00,2707,0,0,0,...,307,526,0,False,NaN,NaN,NaN,NaN,NaN,NaN
35531,IS50F-100201406731,maddelutt@gmail.com,2d55bf28-9355-4ac5-8344-61bcc6391a53,IS50F-1002014067312d55bf28-9355-4ac5-8344-61bc...,2023-03-01,2023-03-01T00:00:00.000+01:00,71,33,36,36,...,4,3,2,False,NaN,NaN,NaN,NaN,NaN,NaN
35532,IS404-100108230826,Olivere.93@gmail.com,b6fd24fa-2c9b-4551-b2a2-c2119a528b53,IS404-100108230826b6fd24fa-2c9b-4551-b2a2-c211...,2023-03-06,2023-03-01T00:00:00.000+01:00,1,0,0,0,...,0,0,0,False,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
user_df_only_emails = user_df.dropna(axis=0, subset=["email"])
user_df_only_emails

,eye_sn,email,install_id,eye_sn_install,date_column,month,adblock_not_detected_activity,gaze_valid_activity,eyetracker_connected_activity,eyetracker_detected_activity,...,beacon_detected_activity,beacon_in_view_activity,beacon_attention_hit_activity,Norstat UK,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,IS404-100108033733,christian.pehrsson@gmail.com,70191b3b-7b5b-446f-850e-2953cd023ae1,IS404-10010803373370191b3b-7b5b-446f-850e-2953...,2023-03-28,2023-03-01T00:00:00.000+01:00,51,49,51,51,...,2,10,0,False,NaN,NaN,NaN,NaN,NaN,NaN
1,IS404-100107544503,irja.maria.nilsson@gmail.com,728b7565-6ec7-481f-8ea5-7b73a327d982,IS404-100107544503728b7565-6ec7-481f-8ea5-7b73...,2023-03-03,2023-03-01T00:00:00.000+01:00,389,0,0,0,...,210,5,0,False,NaN,NaN,NaN,NaN,NaN,NaN
2,IS5FF-100201916732,pererik.erlandsson@gmail.com,9d99e71c-2c86-4df5-ae4b-f994d72de3ed,IS5FF-1002019167329d99e71c-2c86-4df5-ae4b-f994...,2023-03-27,2023-03-01T00:00:00.000+01:00,366,234,366,366,...,26,121,13,False,NaN,NaN,NaN,NaN,NaN,NaN
3,IS404-100109801943,engyousef.se@gmail.com,afd25681-80fe-4ea7-8a34-1345b59bbdaf,IS404-100109801943afd25681-80fe-4ea7-8a34-1345...,2023-03-08,2023-03-01T00:00:00.000+01:00,870,788,870,870,...,84,159,11,False,NaN,NaN,NaN,NaN,NaN,NaN
4,IS5FF-100201721322,9KX8KOff5mrYXXVpyfq1Vx19XREX5J5b,deb61471-5e91-446a-af42-b7b21d0b0629,IS5FF-100201721322deb61471-5e91-446a-af42-b7b2...,2023-03-06,2023-03-01T00:00:00.000+01:00,1539,1487,1539,1539,...,159,425,73,True,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35526,IS404-100108432806,w.lundin@yahoo.se,d735855a-ba33-4ec1-85e9-18afdce3d692,IS404-100108432806d735855a-ba33-4ec1-85e9-18af...,2023-03-05,2023-03-01T00:00:00.000+01:00,40,0,0,0,...,18,12,0,False,NaN,NaN,NaN,NaN,NaN,NaN
35529,IS404-100108346381,william.marback@hotmail.com,1c81eaf5-e79d-4169-bd4f-3706bc01b8ad,IS404-1001083463811c81eaf5-e79d-4169-bd4f-3706...,2023-03-13,2023-03-01T00:00:00.000+01:00,265,226,265,265,...,39,20,9,False,NaN,NaN,NaN,NaN,NaN,NaN
35530,IS404-100109435211,sopha_ki@hotmaill.com,2fece4d8-ec39-4d79-a744-6ddabaf176e0,IS404-1001094352112fece4d8-ec39-4d79-a744-6dda...,2023-03-08,2023-03-01T00:00:00.000+01:00,2707,0,0,0,...,307,526,0,False,NaN,NaN,NaN,NaN,NaN,NaN
35531,IS50F-100201406731,maddelutt@gmail.com,2d55bf28-9355-4ac5-8344-61bcc6391a53,IS50F-1002014067312d55bf28-9355-4ac5-8344-61bc...,2023-03-01,2023-03-01T00:00:00.000+01:00,71,33,36,36,...,4,3,2,False,NaN,NaN,NaN,NaN,NaN,NaN
35532,IS404-100108230826,Olivere.93@gmail.com,b6fd24fa-2c9b-4551-b2a2-c2119a528b53,IS404-100108230826b6fd24fa-2c9b-4551-b2a2-c211...,2023-03-06,2023-03-01T00:00:00.000+01:00,1,0,0,0,...,0,0,0,False,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
grouped_df = user_df_only_emails.groupby(["date_column", "email", "eye_sn"]).apply(
    lambda x: pd.Series(
        {
            "Norstat_UK": x["Norstat UK"].any(),
        }
    )
)
grouped_df = grouped_df.reset_index()
grouped_df

,date_column,email,eye_sn,Norstat_UK
0,2023-03-01,040.mats.jacobson@gmail.com,IS404-100106231921,False
1,2023-03-01,040.mats.jacobson@gmail.com,undefined,False
2,2023-03-01,0EO0F9aB595t0B6Tcz35iN3Zeecsvmrk,IS5FF-100201421011,True
3,2023-03-01,12d59e331824c6bfbf74c0ac2ad82140,IS5FF-100201743952,False
4,2023-03-01,1971pal.s@gmail.com,IS50F-100200246693,False
...,...,...,...,...
8730,2023-03-28,vF5itmviCvFavq5FFTqKEOahcXaf9E0g,IS50F-100200749553,True
8731,2023-03-28,william.marback@hotmail.com,IS404-100108346381,False
8732,2023-03-28,williamgranlund@hotmail.com,IS50F-100200025193,False
8733,2023-03-28,zemin_95@hotmail.com,IS404-100106849154,False
8734,2023-03-28,zimonsjoberg01@gmail.com,IS404-100107040563,False

In [9]:
final_df = grouped_df[(grouped_df["eye_sn"] != "undefined") & (grouped_df["eye_sn"] != "?")]

In [10]:
final_df

,date_column,email,eye_sn,Norstat_UK
0,2023-03-01,040.mats.jacobson@gmail.com,IS404-100106231921,False
2,2023-03-01,0EO0F9aB595t0B6Tcz35iN3Zeecsvmrk,IS5FF-100201421011,True
3,2023-03-01,12d59e331824c6bfbf74c0ac2ad82140,IS5FF-100201743952,False
4,2023-03-01,1971pal.s@gmail.com,IS50F-100200246693,False
5,2023-03-01,1Bx3dO3LYM060E0LxiLEfYxstwVtueKt,IS5FF-100201240832,True
...,...,...,...,...
8730,2023-03-28,vF5itmviCvFavq5FFTqKEOahcXaf9E0g,IS50F-100200749553,True
8731,2023-03-28,william.marback@hotmail.com,IS404-100108346381,False
8732,2023-03-28,williamgranlund@hotmail.com,IS50F-100200025193,False
8733,2023-03-28,zemin_95@hotmail.com,IS404-100106849154,False
8734,2023-03-28,zimonsjoberg01@gmail.com,IS404-100107040563,False

In [11]:
final_df.to_excel("../final_reports/march_daily_user_activity.xlsx", index=False)