In [18]:
import pandas as pd
import numpy as np

In [19]:
client = "kia"
df = pd.read_excel(f"./{client}_results.xlsx")
df

,hostname,Impressions,Inviews,Fixations,Fixation/Inview Ratio,Average Fixation Duration,Total Fixation Duration,Client Total Fixation Duration,Sample Size
0,aftonbladet.se,1337321,968140,464129,47.94,3403.05,200780.0,1.579454e+09,medium
1,bloggar.aftonbladet.se,150447,100118,69659,69.58,3572.33,643019.0,2.488449e+08,medium
2,klart.se,5050,3002,1516,50.50,1982.78,729662.0,3.005894e+06,low
3,malservice.aftonbladet.se,6,3,1,33.33,643.23,7075.5,6.432300e+02,low
4,skonhetsredaktorerna.se,29616,19263,29616,153.75,0.00,0.0,0.000000e+00,low
5,svd.se,13485,6590,9882,149.95,12279.76,5624132.0,1.213486e+08,high
6,tramsfrans.aftonbladet.se,29616,19263,0,0.00,NaN,0.0,NaN,low
7,tv.nu,31510,22022,8275,37.58,2310.06,505903.0,1.911575e+07,medium

In [20]:
df = df[df["Sample Size"].isin(["high", "medium"])]
df["group"] = 1

/tmp/ipykernel_9587/497368128.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["group"] = 1

In [22]:
final_df = df.groupby(["group"]).apply(
    lambda x: pd.Series(
        {
            "Impressions": np.floor(np.average(x["Impressions"], weights=x["Impressions"])),
            "Inviews": np.floor(np.average(x["Inviews"], weights=x["Inviews"])),
            "Fixations": np.floor(np.average(x["Fixations"], weights=x["Fixations"])),
            "Fixation/Inview Ratio": round(np.average(x["Fixation/Inview Ratio"], weights=x["Impressions"]), 2),
            "Average Fixation Duration": np.floor(np.average(x["Average Fixation Duration"], weights=x["Fixations"])),
            "Total Fixation Duration": np.floor(np.average(x["Average Fixation Duration"], weights=x["Fixations"]) *  np.floor(np.average(x["Fixations"], weights=x["Fixations"])))
        }
    )
)
final_df = final_df.reset_index()
final_df

,group,Impressions,Inviews,Fixations,Fixation/Inview Ratio,Average Fixation Duration,Total Fixation Duration
0,1,1182333.0,864138.0,399377.0,50.75,3566.0,1.424560e+09

In [23]:
final_df = final_df[["Impressions", "Inviews", "Fixations", "Fixation/Inview Ratio", "Average Fixation Duration", "Total Fixation Duration"]]

final_df.to_excel(f"./{client}_results_consolidated_v2.xlsx", index=False)