In [1]:
import pandas as pd
import numpy as np

In [2]:
impressions_01 = pd.read_excel("./odyssey_2023_01.xlsx")
impressions_02 = pd.read_excel("./odyssey_2023_02.xlsx")
impressions_03 = pd.read_excel("./odyssey_2023_03.xlsx")

impressions_df = pd.concat([impressions_01, impressions_02, impressions_03])

In [3]:
impressions_df = impressions_df.drop(columns="chosen_brand")

In [4]:
groups = ["Telecom", "Automotive", "Retail"]

with pd.ExcelWriter(f"1535_branded_q1_odyssey.xlsx") as writer:
    for i, group in enumerate(groups):
        final_df = impressions_df[impressions_df["group"] == group.lower()]
        final_df = final_df.drop(columns="group")
        final_df.to_excel(writer, sheet_name=group, index=False)

In [5]:
brands = ["ginatricot", "hm", "lindex", "zalando", "zara", "mercedes", "audi", "chevrolet", "ford", "honda", "hyundai", "kia", "landrover", "peugeot", "polestar", "porsche", "rangerover", "renault", "seat", "skoda", "subaru", "toyota", "volkswagen", "volvo", "telia", "comhem", "comviq", "fello", "halebop", "hallon", "penny", "tele2", "telenor", "tre", "vimla"]

[x for x in brands if x not in list(impressions_df.brand.values)]

['penny']

In [6]:
len(impressions_df.brand.value_counts())

34